body{
  background-color: rgb(21, 35, 55)
  }

#app {
  background-image: url('../images/bgimage.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.container {
  padding:0 !important;
}

#all-btn {
  font-size: 25px;
}
#header-trans{
  height: 460px;
}

#transparent-pusher {
  height:400px;
}
.v-toolbar__title {
  width:100%;
}
.v-application .indigo {
  background-color: #ffffff00 !important;
}

.v-toolbar {
  box-shadow: none;
}

.product-image {
height: 350px;
width: 100%;


}
.product-image img {
  height: 314px;
  width: 251px; 
  
}

#logo{
  width: 100px;
  height: 90%;
  display: flex;
  justify-content: center;
}

#main-row{
width: 100%;
height: 600px;
justify-content: center;
display:flex;
}

#product-holder {

  color: rgb(116, 115, 115);
  height: 250px;
  width: 150px;
  padding: 20px auto;
  display: flex; 
  justify-content: center;
}

/* comment */

.product-brand {
  color: rgb(77, 75, 75);
}

#navigation{
  background-color: rgb(29, 43, 69); 
}

#item.text{
  color: white;
}
#body{
background-color: rgb(21, 35, 55);
margin: 0%;
}

footer{
  background-color: rgb(39, 57, 86);
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding: 30px;
  margin:0
  }
  
  #footer_container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }
  #footer_top p, #footer_top h2{
    display: flex;
    margin: 0;
    justify-content: center;
  }
  
  #footer_bottom {
    margin: 40px 0 0 0;
    display: flex;
  }
  
  #footer_box {
  padding: 10px;
  flex:1;
  box-sizing: border-box;
  }

  #footer_box_1{
  padding:0;
  display: flex;
  justify-content: center;
  }
h4{
  margin: 0, 0, -20px, 0;
  padding: 0;
  font-size: 155px;
  color: rgb(202, 201, 201);
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 0px #777777;
}

h5{
  margin: -20px 0 auto;
  padding: 0;
  font-size: 155px;
  color: rgb(202, 201, 201);
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 0px #777777;
}

  footer p, footer h3 {
  margin: 0;
  padding: 0;
}
  
  footer h3 {
  margin: 0 0 10px 0;
  color: #ffffff;
  text-shadow: 1px 1px 0px #777777;
  }

  #footer_social_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  #footer_social_box a {
   size: 30%;
    margin: 0 0 0 5px;
    box-sizing: border-box;
    padding: 8px 30px 0 30px;
    color: white;
  }
